@font-face{font-family:'slimjoe';font-style:normal;font-weight:200;src:url("slimjoe.otf") format('opentype');font-smoothing:antialiased;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 0;
}

a {
  color: #171717;
}

a:hover {
  color: #000;
}


body {
  background: #000;
  font-family: 'slimjoe';
}


.ninja {
  width: 100%;
  position: absolute;
  top: 50%;
  font-size: 7vw;
  color: #171717;
  text-align: center;
  transform: translateY(-50%);
  transition: all 1s;
  cursor: crosshair;
}

.ninja:hover {
  color: #37FDFC;
}

::selection {
  background: #37FDFC;
}

::-moz-selection {
  background: #37FDFC;
}
